h1{
    color: #111;
}
.form_container{
    margin-top: 1.5em;
    display: flex;
    justify-content: center;
    align-items: center;
}
.inputs_container{
    background-color: #fff;
    padding: 3em 2em 3em 2em;
    border: .3em solid #000;
    border-radius: .8em;
    box-shadow: 2em .5em .5em #111;
}
.form_input{
    border: 0;
    background-color: #ddd;
    border-bottom: 1.5px solid #000;
}
.form_input:hover{
    border-bottom: 3px solid #000;
}
.form_input, .form_input_submit{
    margin-top: 1em;
    border-radius: .5em; 
}
.form_input_1, .form_input_2, .form_input_3{
    width: 32em;
    height: 2.5em;
}
.form_input_4{
    resize: none;
}
.form_input_submit{
    border: 0;
}
.submit_btn{
    padding: .6em 14.5em .6em 14.5em;
    background-color: #111;
    color: #fff;
}
.submit_btn:hover{
    background-color: #111;
}