.flex-container{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-container{
    margin-top: 8em;
}
.title{
    text-align: center;
}
.about_btn{
    margin: 0em 25em 0em 25em;
}
.about_btn button{
    color: white;
    background: linear-gradient(45deg, #5050FF, #5090FF);
    border: 3px solid #62b6ff;
    border-radius: 30px;
    padding: .9em 3.5em .9em 3.5em;
}

.about_btn button:hover{
    background: linear-gradient(90deg, #5090FF, #5050FF);
}