.flex-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.content-container{
    margin: 8em 0em 0em 4em;
}
.title{
    color: #fff;
}
.description{
    color: #fff;
}