.flex-container{
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.home-container{
    margin: 12em 0em 0em 4em;
}
.title{
    color: #000;
}
.description{
    color: #000;
}

.about-container{
    margin: 17em 0em 0em 4em;
}

.about-me{
    font-size: 1.2rem;
    padding: 0em 15em 0em 0em;
}

.skills-container{
    margin: 17em 0em 0em 4em;
    justify-items: center;
}

.skill-list{
    display: block;
    list-style: none;
}

.skill{
    color: #000;
    margin-top: 3em;
}

.projects-container{
    margin: 17em 0em 0em 4em;
}

.project{
    border: rgb(22, 22, 22) 3px solid;
    border-radius: 10px;
    margin: 4em 4em 4em 4em;
    padding: 4em 2em 4em 2em;
}

.project-title{
    text-align: top;
}

.project-description{
    color: #222;
}

.project-repo{
    color: #222;
}

.project-link{
    color: #222;
}