@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

/* HTML ELEMENTS*/
body{
    margin: 0;
    padding: 0;
    background: rgb(212, 212, 212);
}
h1, a, input, textarea, p, button, li, h2{
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}
p{
    color: white;
}
/* Navbar */
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(22, 22, 22);
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    position:sticky;
}
.navbar_list{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.nav_link_2, .nav_link_3, .nav_link_4{
    padding-left: 4em;
}
.nav_link a{
    font-size: 18px;
    color: #ffffff;
}
.nav_link a:hover{
    font-size: 20px;
    text-decoration: underline;
}
.btn_contact button{
    font-weight: 700;
    font-size: 15px;
    margin-right: 3.5em;
    background-color: #ffffff;
    border-radius: 30px;
    padding: .6em 4em .6em 4em;
}